<div class="container big-container" >
  <div class="row">
     <div class="col">
      <div class="search-bar float-right mb-4">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search bookings</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container main-section border-top border-bottom p-1">
    <div class="row justify-content-center m-1">
      <div class="col">
        <div style="text-align: center"> Current </div>
      </div>
        <div class="bookings">
          <% @bookings.each do |booking|%>
              <h3>Booking id: <%= link_to booking.id, booking_path(booking) %></h3>
              <h4>Plant name: <%= booking.plant.name %></h4>
            <% end %>
        </div>
      <div class="col">
       <div style="text-align: center"> Upcoming </div>
      </div>
        <div class="bookings">
          <% @bookings.each do |booking|%>
              <h3>Booking id: <%= link_to booking.id, booking_path(booking) %></h3>
              <h4>Plant name: <%= booking.plant.name %></h4>
            <% end %>
        </div>

      <div class="col">
        <div style="text-align: center"> Past </div>
      </div>
        <div class="bookings">
          <% @bookings.each do |booking|%>
              <h3>Booking id: <%= link_to booking.id, booking_path(booking) %></h3>
              <h4>Plant name: <%= booking.plant.name %></h4>
            <% end %>
        </div>
    </div>
  </div>
  <div class="d-flex justify-content-center m-4">
    <div> <%= link_to 'Home', root_path %> </div>
  </div>
</div>


