<div class="container big-container" >
  <div class="row my-4 mx-5">
    <div class="form-inline ml-auto">
      <%= form_tag bookings_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "find a booking"
        %>
        <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </div>
  </div>

  <div class="container main-section border-top border-bottom p-1">
    <div class="row justify-content-center m-1">
      <div class="col p-0">
        <div class="border-bottom pb-2" style="text-align: center"> Current </div>
          <% @current_bookings.each do |booking| %>
            <div class="card-product border p-2 my-3 mx-3">
              <% booking.plant.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 400, width: 300, crop: :fill %>
              <% end %>
              <div class="card-product-infos d-flex flex-column align-self-start">
                <h2 class="card-title"><%= booking.plant.name.capitalize %></h2>
                <p class="card-description mt-2"> <%= booking.plant.description %></p>
              </div>
              <div class="card-button ml-auto mt-auto">
                <%= link_to 'View booking', booking_path(booking), class: "align-self-end ml-auto btn btn-white btn-sm p-2 m-1" %>
              </div>
            </div>
          <% end %>
      </div>


      <div class="col p-0">
        <div class="border-bottom pb-2" style="text-align: center"> Upcoming </div>
          <% @future_bookings.each do |booking| %>
            <div class="card-product d-flex border p-2 my-3 mx-3">
              <% booking.plant.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 400, width: 300, crop: :fill %>
              <% end %>
              <div class="card-product-infos d-flex flex-column align-self-start">
                <h2 class="card-title"><%= booking.plant.name.capitalize %></h2>
                <p class="card-description mt-2"> <%= booking.plant.description %></p>
              </div>
              <div class="card-button ml-auto mt-auto">
                <%= link_to 'View booking', booking_path(booking), class: "align-self-end ml-auto btn btn-white btn-sm p-2 m-1" %>
              </div>
            </div>
          <% end %>
        </div>


      <div class="col p-0">
        <div class="border-bottom pb-2" style="text-align: center"> Past </div>
          <% @past_bookings.each do |booking| %>
            <div class="card-product d-flex border p-2 my-3 mx-3">
              <% booking.plant.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 400, width: 300, crop: :fill %>
              <% end %>
              <div class="card-product-infos d-flex flex-column align-self-start">
                <h2 class="card-title"><%= booking.plant.name.capitalize %></h2>
                <p class="card-description mt-2"> <%= booking.plant.description %></p>
              </div>
              <div class="card-button ml-auto mt-auto">
                <%= link_to 'View booking', booking_path(booking), class: "align-self-end ml-auto btn btn-white btn-sm p-2 m-1" %>
              </div>
            </div>
          <% end %>
      </div>

    </div>

      <div class="d-flex justify-content-center m-4">
        <% if params[:query].present? %>
          <%= link_to "Go back to all bookings", bookings_path, class: "btn btn-white" %>
        <% end %>
      </div>
  </div>


  <div class="d-flex justify-content-center m-4">
    <div> <%= link_to 'Home', root_path %> </div>
</div>

</div>


