<div class="container">
  <h1>Booking:</h1>

  <p>Booking id: <%= @booking.plant.id %></p>
  <p>Plant: <%= @booking.plant.name %></p>
  <p>Booked by <%= @booking.user.name %></p>
  <p>Booking date is from <%= @booking.beginning_date %> to <%= @booking.end_date %></p>

  <h2>Reviews:</h2>
  <ul class="list-group">
    <% @booking.plant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.comment %>
        <% if current_user == review.booking.user %>
          <%= link_to review_path(review), method: :delete do %>
            <i class="fa fa-trash"></i>
          <% end %>

        <% end %>

      </li>
    <% end %>
  </ul>

  <p><%= link_to 'Edit', edit_booking_path(@booking) %></p>
  <p><%= link_to 'Back', bookings_path %></p>
  <p><%= link_to 'Add a review', new_booking_review_path(@booking) %></p>
</div>
