<div class="container text-center mt-3">
  <h1>All Plants</h1>

  <div id="map"
       style="width: 100%; height: 400px; margin: 20px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="cards d-flex flex-wrap justify-content-around">
    <% @plants.each do |plant| %>
      <div class="card mb-5" style="width: 18rem">
        <%#= cl_image_tag plant.photo.key, class: 'card-img-top cover' %>
        <div class="card-body">
          <h5 class="card-title"><%= plant.name %></h5>
          <h5 class="card-title"><%= plant.category %></h5>
          <h5 class="card-title">£<%= plant.price %> a day</h5>
          <%= link_to 'Choose plant', plant_path(plant), class: "btn btn-green" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


