<div class="container">
  <div class="row ">
    <div class="col-md-6 text-center">
      <h1><%= @plant.name.capitalize %></h1>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @plant.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= cl_image_tag photo.key, height: 400, width: 300, crop: :fill %>
            </div>
          <% end %>
        </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>
            <div class="col-md-6">
              <p>Plant type: <%= @plant.species.capitalize %></p>
              <p>Category: <%= @plant.category.capitalize %></p>
              <p>Price: £<%= @plant.price %> per day</p>
              <p>Location: <%= @plant.address.capitalize %></p>
            </div>

      <h3>Reviews:</h3>

      <ul class="list-group m-3">
        <% @plant.reviews.each do |review| %>
          <li class="list-group-item">"<%= review.comment %>" from <%= review.booking.user.name %></li>
        <% end %>
      </ul>
  <div class="links list-inline">
        <p class="list-inline-item"><%= link_to plants_path do %>
          <i class="fas fa-angle-double-left"></i>
          <% end %></p>
        <p class="list-inline-item"><%= link_to edit_plant_path(@plant) do %>
          <i class="far fa-edit"></i>
          <% end %></p>
        <p><%= link_to 'Make a booking', new_plant_booking_path(@plant), class: "btn btn-green" %></p>

      </div>

  </div>

</div>

