<div class="container text-center">
  <div class="row">
    <div class="col-6 offset-3">
      <h1><%= @plant.name.capitalize %></h1>
      <% @plant.photos.each do |photo| %>
       <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill %>
       <% end %>
      <p>Plant type: <%= @plant.species.capitalize %></p>
      <p>Category: <%= @plant.category.capitalize %></p>
      <p>Price: £<%= @plant.price %> per day</p>
      <p>Location: <%= @plant.address.capitalize %></p>

      <h3>Reviews:</h3>

      <ul class="list-group m-3">
        <% @plant.reviews.each do |review| %>
          <li class="list-group-item">"<%= review.comment %>" from <%= review.booking.user.name %></li>
        <% end %>
      </ul>
  <div class="links list-inline">
        <p class="list-inline-item"><%= link_to plants_path do %>
          <i class="fas fa-angle-double-left"></i>
          <% end %></p>
        <p class="list-inline-item"><%= link_to edit_plant_path(@plant) do %>
          <i class="far fa-edit"></i>
          <% end %></p>
        <p><%= link_to 'Make a booking', new_plant_booking_path(@plant), class: "btn btn-green" %></p>

      </div>
    </div>
  </div>

</div>

