<div class="container">

  <h1><%= @plant.name %></h1>
  <p><%= @plant.species %></p>
  <p><%= @plant.category %></p>
  <p><%= @plant.price %></p>
  <p><%= @plant.address %></p>

  <h3>Reviews:</h3>

  <ul class="list-group">
    <% @plant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.comment %></li>
    <% end %>
  </ul>

  <%= link_to 'Back to all plants', plants_path %>
  <%= link_to 'Edit', edit_plant_path(@plant) %>
  <%= link_to 'Make a booking', new_plant_booking_path(@plant) %>
</div>
